/* @font-face {
    font-family: 'chagiaregular';
    src: url('./fonts/Chagia-0WAev.otf') format('woff2'),
         url('./fonts/Chagia-0WAev.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'enchanted_landregular';
    src: url('./fonts/Enchanted\ Land.otf') format('woff2'),
         url('./fonts/Enchanted\ Land.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'g_gembalaregular';
    src: url('./fonts/Gembala-2OA8l.otf') format('woff2'),
         url('./fonts/Gembala-2OA8l.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'restaconmeregular';
    src: url('./fonts/Restaconme-axWGg.ttf') format('woff2'),
         url('./fonts/Restaconme-axWGg.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'barrelhouse_all_capsregular';
    src: url('./fonts/Barrelhouse\ All\ Caps.ttf') format('woff2'),
         url('./fonts/Barrelhouse\ All\ Caps.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pinewoodregular';
    src: url('./fonts/PINEWOOD.TTF') format('woff2'),
         url('./fonts/PINEWOOD.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lowearegular';
    src: url('./fonts/Woodplank-JRlE.ttf') format('woff2'),
         url('./fonts/Woodplank-JRlE.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'taco_modernregular';
    src: url('./fonts/TacoModern-K7Xo.ttf') format('woff2'),
         url('./fonts/TacoModern-K7Xo.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'el_mariachidemo';
    src: url('./fonts/ElMariachiIkiikocom-MVljp.otf') format('woff2'),
         url('./fonts/ElMariachiIkiikocom-MVljp.otf') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'c_caesar_saladregular';
    src: url('./fonts/CaesarSalad-8M6nD.otf') format('woff2'),
         url('./fonts/CaesarSalad-8M6nD.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'c_cooking_beefregular';
    src: url('./fonts/CookingBeef-vmJJM.otf') format('woff2'),
         url('./fonts/CookingBeef-vmJJM.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fire_foxes_demoregular';
    src: url('./fonts/FireFoxesDemo-4B6AW.ttf') format('woff2'),
         url('./fonts/FireFoxesDemo-4B6AW.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'g_gadoregular';
    src: url('./fonts/Gado-2OJ1l.otf') format('woff2'),
         url('./fonts/Gado-2OJ1l.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'g_good_foodregular';
    src: url('./fonts/GoodFood-X3nYZ.otf') format('woff2'),
         url('./fonts/GoodFood-X3nYZ.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ji_burritoji_burrito';
    src: url('./fonts/JiBurrito-R00M.ttf') format('woff2'),
         url('./fonts/JiBurrito-R00M.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F5372C;
}