/* @font-face {
    font-family: 'chagiaregular';
    src: url('./fonts/Chagia-0WAev.otf') format('woff2'),
         url('./fonts/Chagia-0WAev.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'enchanted_landregular';
    src: url('./fonts/Enchanted\ Land.otf') format('woff2'),
         url('./fonts/Enchanted\ Land.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'g_gembalaregular';
    src: url('./fonts/Gembala-2OA8l.otf') format('woff2'),
         url('./fonts/Gembala-2OA8l.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'restaconmeregular';
    src: url('./fonts/Restaconme-axWGg.ttf') format('woff2'),
         url('./fonts/Restaconme-axWGg.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'barrelhouse_all_capsregular';
    src: url('./fonts/Barrelhouse\ All\ Caps.ttf') format('woff2'),
         url('./fonts/Barrelhouse\ All\ Caps.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pinewoodregular';
    src: url('./fonts/PINEWOOD.TTF') format('woff2'),
         url('./fonts/PINEWOOD.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lowearegular';
    src: url('./fonts/Woodplank-JRlE.ttf') format('woff2'),
         url('./fonts/Woodplank-JRlE.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'taco_modernregular';
    src: url('./fonts/TacoModern-K7Xo.ttf') format('woff2'),
         url('./fonts/TacoModern-K7Xo.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'el_mariachidemo';
    src: url('./fonts/ElMariachiIkiikocom-MVljp.otf') format('woff2'),
         url('./fonts/ElMariachiIkiikocom-MVljp.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(to right, #ff0000 0%, #ff3399 100%);
}