.header {
    font-family: 'el_mariachidemo';
    font-size: 50px;
    text-align: center;
    color: red;
}

.woodlogo {
    width: 1850px;
    height: 200px;
}

.redplace {
    height: 140px;
    position: fixed;
    right: 200px;
}

#header{
    background-image: url("../imgs/close-up-of-horizontal-rough-dark-wood-board-texture.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

