.header {
    font-family: 'c_caesar_saladregular';
    font-size: 50px;
    text-align: center;
    color: #F5372C;
}

.woodlogo {
    width: 1850px;
    height: 200px;
}

.redplace {
    height: 140px;
    position: absolute;
    right: 200px;
    margin-top: 10px;
}

#header{
    background-image: url("../imgs/old-brown-rustic-weathred-dark-260nw-1996102490.webp");
    /* background-repeat: no-repeat; */
    background-size: 40%;
   
}


