.thered {
    color: white;
    font-size: 35px;
    text-align: center;
    background-image: url("../imgs//wood\ background.png");
    /* width: 500px; */
    padding: 10px 140px;
    /* margin-left: 35%; */
    display: flex;
    flex-wrap: wrap;
}

.foodimg {
    height: 300px;
    width: 300px;
    float: left;
}

.drinkimg {
    height: 350px;
    width: 300px;
    position: relative;
    left: 800px;
}

.drinkimg1 {
    height: 350px;
    width: 300px;
    position: relative;
    left: 125px;
}

.drinkimg2 {
    height: 350px;
    width: 300px;
    position: relative;
    right: 555px;
}

.intro {
    position: relative;
    left: 20px;
    font-size: 24px;
    line-height: 1.5em;
}