.loginform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.loginform h1{
    text-align: center;
    background-image: url("../imgs//wood\ background.png");
    color: white;
    padding: 10px 80px;
    font-style: italic;
}

.loginform input{
    border-radius: 1em;
    padding: 10px;
    margin-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 50px;
    border: 2px solid black;
}

.form button{
    background: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
    padding: 0.57143rem 1.42857rem;
    font-weight: 600;
    margin-top: 70px;
}

.form button:hover{
    transition: 0.3s ease;
    cursor: pointer;
    background-color: white;
    color: black;
}