.loginform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}