.titles {
    text-align: center;
    font-size: 25px;
    /* position: relative;
    bottom: 1650px;
    right: 330px; */
}

.description {
    text-align: center;
    font-size: 20px;
    /* position: relative;
    bottom: 1650px;
    right: 330px; */
}

.menu {
    text-align: center;
    font-family: 'c_caesar_saladregular';
}

.border {
    border: 4mm ridge rgba(252, 78, 3, 0.6);
}

/* .menuimg {
    height: 50%;
} */




