.border{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.titles {
    text-align: center;
    font-size: 25px;
}

.description {
    text-align: center;
    font-size: 20px;
    width: 100%;
    border: 1px solid black;
}

.menu {
    display: flex;
    justify-content: center;
    color: white;
    width: 300px;
    padding: 10px 140px;
    text-align: center;
    font-family: 'c_caesar_saladregular';
    float:right;
    background-image: url("../imgs//wood\ background.png");
    margin: 21.440px auto;
}

.border {
    border: 4mm ridge rgba(252, 78, 3, 0.6);
}

.items:nth-child(odd){
    display: flex;
    float: right;
}

.items:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
}

.items:nth-child(even) p {
    display: flex;
    margin-left: 100px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1em;
    box-shadow: 2px 5px 20px black;
}

.items:nth-child(odd) p {
    display: flex;
    margin-right: 100px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1em;
    box-shadow: -2px 5px 20px black;
}

.items:nth-child(even) .titles {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background: white;
    border-radius: 0 0 0 1em;
    box-shadow: 2px 5px 20px black;
}

.items:nth-child(odd) .titles {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background: white;
    border-radius: 0 0 1em 0;
    box-shadow: -2px 5px 20px black;
}




