.border{
    display: flex;
    /* height: 1000px; */
    text-align: center;
    flex-direction: column;
}
.titles {
    text-align: center;
    font-size: 25px;
    /* position: relative;
    bottom: 1650px;
    right: 330px; */
}

.description {
    text-align: center;
    font-size: 20px;
    width: 100%;
    border: 1px solid black;
    /* position: relative;
    bottom: 1650px;
    right: 330px; */
}

.menu {
    text-align: center;
    font-family: 'c_caesar_saladregular';
    float:right;
}

.border {
    border: 4mm ridge rgba(252, 78, 3, 0.6);
}

.items:nth-child(odd){
    display: flex;
    color:white;
    float: right;
}

.items:nth-child(even){
    display: flex;
    color:blue;
    flex-direction: row-reverse;
}




